<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo 5 </title>
</head>
<body>
    <section id="app">
        <h1>Lista de compras </h1>
        <form action="">
            <input type="text" v-model="produto">
            <button v-on:click.prevent="adicionarProduto()">Inserir produto</button>
            <button @click.prevent="removerProdutos()">remover Item</button>
        </form>
        
        <ul>
            <li v-for="item in lista">{{item}}</li>
        </ul>



    </section>
    
    
    
    
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const app = Vue.createApp({
            data(){
                return{
                    lista:[],
                    produto:''
                }
            },
            methods:{
                adicionarProduto(){
                    if(this.produto == ""){
                        alert("Coloque algum Produto")
                        
                    }
                    else{
                        this.lista.push(this.produto)//Adicionando elemento no vetor
                        this.produto = '' //Limpando o campo input
                        alert("Produto colocado")
                    }
                },
                removerProdutos(){
                    this.lista.pop()//Remover o último item do vetor
                }
            }
        })
        app.mount("#app")
    </script>
</body>
</html>