<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo 4 </title>
</head>
<body>
    <section id="app">
        <div v-for="itens in imagem">
            <img :src="itens" alt="" width="250">
        </div>
        <hr>
        <p v-for="elementos in frutas">
            {{elementos}}
        </p>
        <hr>
        <p v-for="elet in eletro">
            {{elet}}
        </p>
        <hr>
        <p v-for="(valor, chave, indice) in pessoa">
           {{indice}}- {{chave}}: {{valor}}
        </p>
        <hr>
        
        <p v-for="(marca,indice) in carros">
            {{indice}}- {{marca.marca}} {{marca.modelo}} 
        </p>
        <hr>
        
        <p v-for="cont in 10">
            {{cont}}
        </p>

    </section>
    
    
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const app = Vue.createApp({
            data(){
                return{
                    imagem:[ "imagens/imagem1.webp",
                     "imagens/imagem2.jpg",
                     "imagens/imagem3.jpg"],
                    frutas:["Morango", "Maçã", "Mamão", "Melancia"],
                    eletro:["air-frayer","cafeteira","geladeira","televisão"],
                    //Objetos
                    pessoa:{
                        nome:"raposo rodrigues",
                        idade:23,
                        endereco:"avenida norte sul "
                    },
                    //Vetor de objetos
                    carros:[
                        {marca:"Porsche",modelo:911},
                        {marca:"Fiat",modelo:"Pálio"},
                        {marca:"VolksWagen",modelo:"Gol 66"}
                    ]
                }
            }
        })
        app.mount("#app")
    </script>
</body>
</html>